# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# User ignored files
*.log
/frontend/node_modules/
/node_modules/
**/node_modules/
/frontend/dist/
**/.env
**/config.js
**/config.ts
